{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <!--slider area start-->
    <section class="slider_section">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="{% static 'img/slider/1.jpg_large' %}">
            </div>
        </div>
    </section>
    <!--slider area end-->

    <!--shipping area start-->
    <div class="shipping_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="{% static 'img/about/shipping1.png' %}" alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Бесплатная доставка</h3>
                            <p>Бесплатная доставка по всему миру <br> заказы свыше $120</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col_2">
                        <div class="shipping_icone">
                            <img src="{% static 'img/about/shipping2.png' %}" alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Безопасная оплата</h3>
                            <p>С нашим платежным шлюзом не беспокойтесь <br> о ваших данных</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_shipping col_3">
                        <div class="shipping_icone">
                            <img src="{% static 'img/about/shipping3.png' %}" alt="">
                        </div>
                        <div class="shipping_content">
                            <h3>Дружеское обслуживание</h3>
                            <p>Вы имеете 30-дневную гарантию возврата <br>на каждый заказ</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shipping area end-->

    <!--banner area start-->
{#    <div class="banner_area">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-6 col-md-6">#}
{#                    <figure class="single_banner">#}
{#                        <div class="banner_thumb">#}
{#                            <a href="shop.html"><img src="{% static 'img/bg/banner1.jpg' %}" alt=""></a>#}
{#                            <div class="banner_content">#}
{#                                <h3>Большая распродажа товаров</h3>#}
{#                                <h2>Plants <br> For Interior</h2>#}
{#                                <a href="shop.html">Shop Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </figure>#}
{#                </div>#}
{#                <div class="col-lg-6 col-md-6">#}
{#                    <figure class="single_banner">#}
{#                        <div class="banner_thumb">#}
{#                            <a href="shop.html"><img src="{% static 'img/bg/banner2.jpg' %}" alt=""></a>#}
{#                            <div class="banner_content">#}
{#                                <h3>Лучшие товары</h3>#}
{#                                <h2>Plants <br> For Healthy</h2>#}
{#                                <a href="shop.html">Shop Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </figure>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!--banner area end-->

    <!--newsletter area start-->
    <div class="newsletter_area_start">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2>Получите <span>20% скидку </span> на следующий заказ</h2>
                    </div>
                    <div class="newsletter_container">
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Введите свой email" />
                                <button id="mc-submit">Подписаться</button>
                                <div class="email_icon">
                                    <i class="icon-mail"></i>
                                </div>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--newsletter area end-->

{% endblock %}
